<a href="https://colab.research.google.com/github/sahupra1357/CPE695AML/blob/main/HW4/Pradeep_Sahu_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In this programming problem, you will get familiar with building a neural network using backpropagation. You are supposed to implement the following steps:  
# **Step 1**: use our “titanic” dataset in homework 3, and split data in the same way you did in homework 3 – 80% as training and 20% test sets;

In [1]:
from google.colab import files
uploaded = files.upload()

Saving Titanic.csv to Titanic.csv

In [2]:
!ls

sample_data  Titanic.csv

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pydotplus
from IPython.display import Image

In [4]:
pd.set_option('mode.chained_assignment', None)
data = pd.read_csv("Titanic.csv")
df = data.drop(data.columns[[0]],axis=1)
df.head()

  pclass  survived  ...   body                        home.dest
0    1st         1  ...    NaN                     St Louis, MO
1    1st         1  ...    NaN  Montreal, PQ / Chesterville, ON
2    1st         0  ...    NaN  Montreal, PQ / Chesterville, ON
3    1st         0  ...  135.0  Montreal, PQ / Chesterville, ON
4    1st         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [5]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [6]:
df['age'].fillna(value=df['age'].mean(), inplace=True)

In [7]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [8]:
X = df[["pclass","sex","age","sibsp"]]

In [9]:
Y = df[["survived"]]

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

X['pclass'] = le.fit_transform(X['pclass'])

X['sex'] = le.fit_transform(X['sex'])

In [11]:
X.head()

   pclass  sex      age  sibsp
0       0    0  29.0000      0
1       0    1   0.9167      1
2       0    0   2.0000      1
3       0    1  30.0000      1
4       0    0  25.0000      1

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=42)